<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web Scraping Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <br />
    <div class="container table-bordered">
        <h2>Google Search (Weather)</h2>
        <form action="/api/weather" method="POST" target="_blank">
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" class="form-control" id="location" placeholder="Enter location" name="location">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form><br />
    </div>
    <br />
    <div class="container table-bordered">
        <h2>Google Search (Time)</h2>
        <form action="/api/time" method="POST" target="_blank">
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" class="form-control" id="location" placeholder="Enter location" name="location">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form><br />
    </div>
    <br />
    <div class="container table-bordered">
        <h2>YouTube Search</h2>
        <form action="/api/youtube" method="POST" target="_blank">
            <div class="form-group">
                <label for="query">Search Query:</label>
                <input type="text" class="form-control" id="query" placeholder="Enter query" name="query">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form><br />
    </div>
</body>

</html>